{% extends "home/layout.html" %}
{% block content %}
    <!-- Slider -->
    <div id="slider" class="inspiro-slider slider-fullscreen arrows-large arrows-creative dots-creative"
         data-height="360">
        <!-- Slider 1 -->
        <div class="slide background-overlay-dark kenburns" data-parallax-image="images/slider/2.jpg">
            <!-- the context in slider -->
            <div class="container">
                <div class="slide-captions text-light">
                                     <h1 data-animate="fadeInUp" data-animate-delay="600">How to choose healthy
                    mashroom</h1>
                    <h4 data-animate="fadeInUp" data-animate-delay="1000">Let's Do This</h4>
                </div>
                                
            </div>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Content -->
    <section id="page-content">
        <div class="container">
            <div id="blog" class="grid-layout post-3-columns m-b-30" data-item="post-item">
            <!-- Post item-->
            <div class="post-item border">
                <div class="post-item-wrap">
                    <div class="post-item-description">
                        <h2><a href="#">Standard post with a single image</a></h2>
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>release time: Jan 21, 2017</span>
                        <p>Language: </p>
                        <p>Country: </p>
                        <p>Director: </p>
                        <p>Writer: </p>
                        <p>Runtime: </p>
                        <p>Overview: </p>
{#                        <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>#}
                    </div>
                </div>
            </div>
            <!-- end: Post item-->
            </div>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
    </section>
    <!-- end: Contect-->
{% endblock %}
