<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="INSPIRO"/>
    <meta name="description" content="Themeforest Template Polo">
    <!-- Document title -->
    <title>Mushroom Classification</title>
    <!-- Stylesheets & Fonts -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plugins.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>
<body>
<div class="body-inner">
    <!-- header -->
    <header id="header">
        <div class="header-inner">
            <div class="container">
                <!-- Logo -->
                <div id="logo">
                    <a href="{{ url_for('home.index') }}" class="logo">Mushroom Classification</a>
                </div>
                <!-- End Logo -->

                <!-- Search -->
                <div id="search">
                    <button id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i
                            class="icon-x"></i></button>
                    <form class="search-form" method="get">
                        <input class="form-control" name="q" type="search" placeholder="Search..."
                            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                        <span class="text-muted">Start typing & press "Enter" or "ESC" to close</span>
                    </form>

                    <div class="search-suggestion-wrapper">


{#                        <div class="search-suggestion">#}
{#                            <h3>Movie</h3>#}
{#                            <p><a href="#">Beautiful nature, and rare feathers!</a></p>#}
{#                            <p><a href="#">New costs and rise of the economy!</a></p>#}
{#                            <p><a href="#">A true story, that never been told!</a></p>#}
{#                        </div>#}


                    </div>
                </div>
                <!-- end: search -->

                <!--Header Extras-->
                <div class="header-extras">
                    <ul>
                        <li>
                            <!--search icon-->
                            <a id="btn-search" href="#"> <i class="icon-search1"></i></a>
                            <!--end: search icon-->
                        </li>
                    </ul>
                </div>

                <div id="mainMenu-trigger">
                    <button class="lines-button x"> <span class="lines"></span> </button>
                </div>


                <!-- Navigation -->
                <div id="mainMenu">
                    <div class="container">
                        <nav>
                            <ul>
                                <li>
                                    <a href="{{ url_for('home.index') }}">Home</a>
                                </li>
                                {% if login_user %}
                                    <li>
                                        <a href="#">Hello, {{ login_user }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('home.logout') }}">Logout</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ url_for('home.login') }}">Login</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('home.register') }}">Sign up</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End Navigation -->

            </div>
        </div>
    </header>
    <!-- End Header -->

    {% block content %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>

<!--Template functions-->
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>

</body>
</html>